
<div class='body-container'>
  <h1>Randomness... Applying jQuery learned this week</h1>
  <div class="tour usa col-lg-4" data-discount="199">
    <h2 class='city-text'>
      New York, New York
      <span class='glyphicon glyphicon-tag'></span>
    </h2>
    <span class="details">$1,899 for 7 nights</span><br>
    <button class="book">Book Now</button>
    <a href="#" class="see-photos">Photos</a>
    <div class="photos">
      <p>
        <img src="/assets/nyc1.jpg"><br>
        <span class='city-text'>Manhattan Bridge</span>
      </p>
      <p>
        <img src="/assets/nyc2.jpg"><br>
        <span class='city-text'>Times Square</span>
      </p>
      <p>
        <img src="/assets/nyc3.jpg"><br>
        <span class='city-text'>Central Park</span>
      </p>
    </div>
  </div>
  <div class="tour france col-lg-4" data-discount="99">
    <h2 class='city-text'>
      Paris, France 
      <span class='glyphicon glyphicon-tag'></span>
    </h2>
    <span class="details">$1,499 for 5 nights</span><br>
    <button class="book">Book Now</button>
    <a href="#" class="see-photos">Photos</a>
    <div class="photos">
      <p>
        <img src="/assets/paris1.jpg"><br>
        <span class='city-text'>The Eiffel Tower</span>
      </p>
      <p>
        <img src="/assets/paris2.jpg"><br>
        <span class='city-text'>Louvre Museum</span>
      </p>
      <p>
        <img src="/assets/paris3.jpg"><br>
        <span class='city-text'>Arc de Triomphe</span>
      </p>
    </div>
  </div>
  <div class="tour uk col-lg-4" data-discount="149">
    <h2 class='city-text'>
      London, UK
      <span class='glyphicon glyphicon-tag'></span>
    </h2>
    <span class="details">$2,199 for 5 nights</span><br>
    <button class="book">Book Now</button>
    <a href="#" class="see-photos">Photos</a>
    <div class="photos">
      <p>
        <img src="/assets/london1.jpg"><br>
        <span class='city-text'>Big Ben</span>
      </p>
      <p>
        <img src="/assets/london2.jpg"><br>
        <span class='city-text'>London Eye</span>
      </p>
      <p>
        <img src="/assets/london3.jpg"><br>
        <span class='city-text'>London Tower Bridge</span>
      </p>
    </div>
  </div>
</div>